<h2>Recently Added<h2>
    <div>
        <% albums.forEach(album => { %>
            <a href = "/albums/<%= album.id %>">
                <img height = "150" width = "150" src = "<%= album.coverImagePath %>">
            </a>
        <% }) %>
     </div>