<h2 class = "page-header" >Recently Added<h2>
    <div>
        <% albums.forEach(album => { %>
            <a href = "/albums/<%= album.id %>">
                <img height = "300" width = "300" src = "<%= album.coverImagePath %>">
            </a>
        <% }) %>
     </div>