<h2 class = "page-header">New Album</h2>
<form action = "/albums" method= "POST" enctype = "multipart/form-data">
    
    <%- include('_form_fields') %>

    <div class = "form-row form-row-end btn-row">
    <a class = "btn btn-danger" href = "/albums">Cancel</a>
    <button class = "btn btn-primary" type = "submit">Create</button>
    </div>
</form>